<mat-toolbar color="primary">
  <span>DOM Testing App</span>
</mat-toolbar>



<div class="w-96 mx-auto border p-4 mt-4" [formGroup]="form">
  <h1>
    Enregistrer un utilisateur
  </h1>
  <div>
    <mat-form-field appearance="fill" class="w-full" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="w-full" >
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="w-full" >
      <mat-label>Confirmer mot de passe</mat-label>
      <input matInput formControlName="confirmPassword" type="password">
    </mat-form-field>
  </div>

  <div class="flex justify-end space-x-2">
    <button mat-flat-button>Annuler</button>
    <button mat-flat-button color="primary">Enregistrer</button>
  </div>
  {{form.value | json}}
</div>
